.roxo {
  font-size:1000% ;
  text-align: center;
  border-style: double;
  font-style: oblique;
  color: red;
  text-shadow: 10px 10px 5px
}
.negro {
  font-size:1000% ;
  text-align: center;
  border-style: double;
  font-style: oblique;
  color: black;
  text-shadow: 10px 10px 5px

}
  h1 {
  font-size:1000%;
  text-align: center;
  text-decoration: dotted;
  color: crimson;
  
  }
button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 15em;
  height: 7em;
  justify-content: center;
  border-radius: 33%;
  border-color: brown;
  border-width: 0.5cm;
  background-color: salmon;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  }
#boton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}