p {
  font-size:xx-large ;
  text-align: center;
  border-style: double;
}
button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 20em;
  height: 10em;
  justify-content: center;
  border-radius: 33%;
  border-color: brown;
  border-width: 0.5cm;
  background-color: salmon;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  }
#boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}